$main-color: #404447;
$sb-hover-color: #fe9230;
$sb-link_color: #5a5b5e;
$poppins-font-family: "Poppins", sans-serif;

@mixin font-family(
  $color: $main-color,
  $font-size: 16px,
  $weight: 500,
  $font-family: $poppins-font-family
) {
  font-family: $font-family;
  font-weight: $weight;
  color: $color;
  font-size: $font-size;
}

.header {
  grid-area: header;
  //display: flex;
  border-bottom: 1px solid #e7dcdb;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  &-navigation-panel {
    bottom: 93%;
    padding: 9px;
    margin: 0;
    display: flex;
    //flex-wrap: wrap;
   // background-color: #f1f1f1;
    //color: black;
    position: absolute;
    list-style: none;
    &__item {
      margin-right: 33px;
      position: relative;
    }
    &__item:nth-last-child(2) {
      margin-right: 41px;
    }
    &__refresh{
   //   text-align: center;
      color: blanchedalmond;
      border-radius: 50%;
     // border-end-end-radius: 70%;
      
    //  font-size: 23px;
     // width: 19px;
     // height: 19px;
       //  margin-left: 10px;
   //   margin-top: 10px;
     // margin-bottom: 28px;
      background: red;
     // background-size: 31px;
    }
    &__dashboard{
            font-weight: 300;
            font-size: 13px;
      background-color: transparent;
     border: 1px solid #d0d0d0;
      padding: 0px 10px;
          border-radius: 20px;
          border-bottom: 1px solid #e7dcdb;
           width: 80px;
            height: 28px;
     text-align: center;
     color: rgb(129, 129, 129);
      line-height:11px;
     // margin-right: 11px;
     margin-left: -70%;
     margin-bottom: 10%;

      //margin-bottom: 20px;
      //margin-left: 10px;

    }

  //  justify-content: flex-end;
    //min-height: 74px;
   // align-items: center;
  }
  //-navigation-panel
  /* .navigation-panel{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    justify-content: flex-end;
    min-height: 74px;
    align-items: center;
    list-style: none;
    position: relative;
  }*/
  &-navigation {
    padding: 0;
    margin: 0;
    width: 110%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    justify-content: flex-end;
    min-height: 74px;
    align-items: center;
    list-style: none;
    position: relative;
    &__notification {
      @include font-family(#a6a7a8, 13px);
      position:relative;
      border-radius: 20px;
      color: rgb(129, 129, 129);
      line-height:11px;
      margin-right: 7px;
      
    margin-left: -310%;
///////////////////////////////////////////////////
      top: -1px;
      right: -15px;


      border: 1px solid #d0d0d0;
          border-radius: 20px;
          border-bottom: 1px solid #e7dcdb;
     color: rgb(129, 129, 129);
    }
    &__notification-message {
      @include font-family(#007efc, 11px);
      position:relative;
      top: -18px;
      right: -8px;
    }
    &__item {
      margin-right: 33px;
      position: relative;
    }
    &__item:nth-last-child(2) {
      margin-right: 51px;
    }
    &__item:nth-last-child(1) {
      margin-right: 23px;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        display: block;
        color: blanchedalmond;
        background-image: url(../../images/icon-arrow-down.svg);
        background-repeat: no-repeat;
        width: 10px;
        height: 8px;
        margin-left:1px;
      }
    }
    &__icon-search {
      border-radius: 50%;
      overflow: hidden;
    }
   /* &__arrow {
     // border-radius: 50%;
     // overflow: hidden;
     
     margin-bottom: 11px;
    
    &::after {
      content: "";
      display: block;
     // background-image: url(../../images/icon-arrow-down.svg);
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      font-size: 19px;
     // margin-bottom: 28px;
      margin-left: 37px;
      border-radius: 50%;
      background-color: #aacc4e; 
    }}*/
   .arrow{
    content: "";
    color: lavender;
    display: block;
    background-repeat: no-repeat;
   // position:initial;
    width: 18px;
    height: 18px;
   // font-size: 19px;
    margin-left: -590%;
   // margin-bottom: 28px;
    //margin-left:-34px;
   //margin-right:70%;
    margin-bottom: 30%;
    border-radius: 50%;
    background-color: #aacc4e; 
   }
  }
 
}